apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: rds-secret-provider
  namespace: default
spec:
  # The provider must be set to 'aws' for AWS Secrets Manager.
  provider: aws 
  
  # CRITICAL: This ServiceAccount identity will be used by the CSI driver to assume 
  # an IAM Role (via IRSA) that has permission to access Secrets Manager.
  # This assumes you have already created a ServiceAccount named 'api-data-access' 
  # with the required IAM annotation.
  secretProviderClassName: api-data-access 
  
  # Defines the list of secrets to fetch from AWS Secrets Manager.
  parameters:
    objects: |
      - objectName: arn:aws:secretsmanager:us-east-1:123456789012:secret:prod/rds/webapp-db-XYZ # The full ARN of the secret in Secrets Manager.
        objectType: "secretsmanager" # Specifies the type of AWS resource.
        jmesPath:
          # Extracts the 'username' key from the JSON secret payload.
          - jsonPath: "$.username"
            key: "DB_USERNAME" # The file name it will be mounted as in the Pod.
          # Extracts the 'password' key from the JSON secret payload.
          - jsonPath: "$.password"
            key: "DB_PASSWORD" # The file name it will be mounted as in the Pod.
          # Extracts the 'host' key from the JSON secret payload.
          - jsonPath: "$.host"
            key: "DB_HOST" # The file name it will be mounted as in the Pod.