apiVersion: v1
kind: Service          # Defines stable access point for a set of pods.
metadata:
  name: web-app-service
  labels:
    app: web-app
spec:
  selector:
    app: web-app-pod # Critical: Selects all pods with this label
  ports:
  - protocol: TCP
    port: 80          # The Port the service exposes (What the other Pods/Ingress see)
    targetPort: 8080  # The port the container is listening on (from the deployment.yaml)
  type: NodePort      # Exposes the service on a static port on each Nodes IP
  
# type: ClusterIP   # stable, virtual IP for pod-to-pod and in-cluster client access, kube-proxy sends to matching pods 
# Use ClusterIP for internal microservice communication, DNS based service discovery or backend for other services/ingresses

# type: NodePort    # Opens static port (default 30000-32767) on every Node's IP to reach service from outside cluster
# Client -> NodeIP:NodePort -> underlying ClusterIP -> pods, The node you hit handles the request
# Use for simple external access or if using own external LB/Reverse Proxy

# type: LoadBalancer  # Allocates external/public IP via AWS and load balances traffic to nodePorts/ClusterIPs
# Client -> AWS LB -> Nodes(nodePort) -> ClusterIP -> pods
# Use for production grade external exposure in Cloud, simplify DNS by providing a single stable IP.